
.card.pdt {
    height: 100%;
    margin-right: 10px
}
.table th,.table p,.table span{
    font-size:11px;
}
.logo {
    width: 150px;
}
.card-body.cart-card{
    padding:10px
}
.cart {
    cursor: pointer;
}

.overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.2;
    display: none;
}

.delete {
    cursor: pointer;
    background: red;
    color: #fff;
    border-radius: 100%;
    /* display: block; */
    padding: 3px;
    width: 14px;
    height: 14px;
    text-align: center;
    vertical-align: middle;
    font-size: 8px !important;
}

.delete:hover{
    background: rgb(180, 10, 10);
}

.center {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .cart-item,
.cart-head {
    display: flex;
    justify-content: space-between;
} */



.product-image {
    width: 20px
}

.product-image img {
    width: 100%
}

body {
    background-color: #edeeef;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #000;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
